@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap");
:root {
    --primary: #544af4;
    --primary-light: #665df5;
    --text-color: #000000;
    --text-light: #111111;
    --bg: #ffffff;
    --font: "Poppins", sans-serif;
    --font-normal: 400;
    --font-semi: 700;
    --font-bold: 900;
    --container: 80%;
    --container-max: 1300px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}
body {
    background-color: var(--bg);
}
a {
    text-decoration: none;
}
/* Homepage styles */
.root {
    width: 100%;
}
.container {
    width: var(--container);
    max-width: var(--container-max);
    margin: 0 auto;
}
.header {
    width: 100%;
    height: 100vh;
}
.header--nav {
    position: relative;
    width: 100%;
    height: 10vh;
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app--logo {
    color: var(--primary);
    font-size: 2rem;
}
.app--logo span {
    color: var(--text-color);
    font-size: 1.5rem;
}
.nav--links {
    list-style-type: none;
    display: flex;
}
.nav--link {
    padding-left: 2rem;
    text-transform: uppercase;
}
.link {
    color: var(--text-color);
    transition: all 0.5s;
}
.link:hover {
    color: var(--primary-light);
}

.header--content {
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content,
.image--wrapper {
    width: 50%;
}

.content .heading {
    font-size: 2.5rem;
    word-wrap: break-word;
}
.content .desc {
    margin: 2rem 0;
    font-size: 18px;
    text-align: start;
}
.header--btn {
    display: inline-block;
    background-color: var(--primary-light);
    color: var(--bg);
    font-size: 18px;
    border-radius: 6px;
    padding: 20px;
    width: 300px;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.5s;
}
.header--btn:hover {
    background-color: var(--text-light);
}
.header--image {
    object-fit: contain;
    width: 100%;
    max-width: fit-content;
}
.about {
    margin: 3rem 0;
}
.about--content {
    text-align: center;
}
.about--content h3 {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: var(--font-bold);
}
.about--content h4 {
    margin: 20px 0;
    font-size: 20px;
    font-weight: var(--font-normal);
    word-wrap: break-word;
    word-break: break-all;
}
.about--btn {
    display: inline-block;
    background-color: var(--primary-light);
    color: var(--bg);
    font-size: 18px;
    border-radius: 6px;
    padding: 20px;
    width: 300px;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.5s;
}
.about--btn:hover {
    background-color: var(--text-light);
}
.services {
    margin: 3rem 0;
}
.services--content {
    text-align: center;
    padding: 2rem 0;
}
.services--content h3 {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: var(--font-semi);
}
.services--content h1 {
    margin: 30px 0;
    font-size: 2rem;
    font-weight: var(--font-bold);
}
.services-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    column-gap: 30px;
    width: 80%;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}
.service {
    text-align: start;
}
.service--content {
    display: flex;
    align-items: center;
}
.service--content h2 {
    margin-right: 20px;
}
.service--content h2 i {
    font-size: 30px;
    color: var(--primary);
}

.service--content h4 {
    font-size: 20px;
    text-transform: capitalize;
}
.service--content p {
    text-align: start;
}
.work--together {
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.together {
    padding: 2rem 0;
    width: 50%;
}
.together h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: var(--font-semi);
}
.together p {
    font-size: 40px;
    font-weight: var(--font-normal);
    margin: 15px 0;
}
.together a {
    position: relative;
}
.footer {
    margin: 2rem 0;
}
.footer--content {
    padding: 2rem;
}
.footer--content .content {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.footer--content .content .nav--links {
    flex-direction: column;
}
.footer--content .content .nav--links .nav--link {
    margin-bottom: 20px;
}
.logo--media .app--logo {
    display: inline-block;
    margin-bottom: 20px;
}
.logo--media i {
    font-size: 30px;
    color: var(--primary);
    transition: all 0.5s;
    cursor: pointer;
    margin-right: 10px;
}
.logo--media i:hover {
    color: var(--text-light);
}
.copyright {
    padding: 10px 0;
}
.copyright p {
    text-align: center;
    font-size: 18px;
}
.copyright p a {
    font-size: 18px;
    text-decoration: underline;
}
.copyright p a span {
    font-size: 16px;
}

/* Harmburger menu */
.sm-menu {
    display: none;
    font-size: 40px;
    color: var(--text-color);
    cursor: pointer;
}
.harmburger--menu {
    display: none;
    position: absolute;
    top: 11vh;
    right: 0;
    width: 350px;
    height: 100%;
    height: auto;
    background-color: var(--text-light);
    border-radius: 20px;
    box-shadow: 2px 20px 30px var(--primary);
    margin: 0 15px;
    z-index: 100;
}
.menu-sm {
    padding: 50px;
    text-align: start;
}
.sm--links {
    list-style: none;
}
.sm--link {
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 20px;
}
.sm--link .link {
    color: var(--bg);
    transition: all 0.5s;
}
.sm--link .link:hover {
    color: var(--primary);
}

/* About page styles */
.header--lower {
    padding: 1rem 0 2rem 0;
}
.header--lower a {
    margin: 4rem auto;
}
.lower--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left--content,
.right--content {
    width: 50%;
}
.left--content h2 {
    margin-bottom: 30px;
    font-size: 2rem;
    line-height: 1.1;
}
.left--content p {
    font-size: 1.1rem;
    text-align: start;
}
.right--content img {
    width: 100%;
    max-width: fit-content;
}
/* contact page */
.contact--form {
    padding: 4rem 0;
    width: 100%;
    height: auto;
}
.contact--form h1,
p {
    text-align: center;
}

.form--area {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}
.form {
    width: 60%;
}
.contact--image {
    width: 40%;
}
.contact--image img {
    object-fit: contain;
    width: 100%;
    max-width: fit-content;
}
.form--group {
    margin-bottom: 10px;
}
.form--group label {
    display: inline-block;
    margin-bottom: 4px;
}
.input--group {
    position: relative;
}
.input--group input {
    width: 100%;
    outline: none;
    border: 1px solid var(--text-light);
    border-radius: 6px;
    padding: 15px 40px;
    font-size: 18px;
}
.input--group input::placeholder,
textarea::placeholder {
    font-size: 17px;
    font-style: italic;
}
.input--group input:focus,
.input--group textarea:focus {
    border: 1px solid var(--primary);
    box-shadow: 2px 0 30px 2px var(--primary-light);
}
.input--group i {
    position: absolute;
    left: 10px;
    font-size: 17px;
    transform: translateY(50%);
}
.input--group textarea {
    width: 100%;
    outline: none;
    border: 1px solid var(--text-light);
    border-radius: 6px;
    padding: 10px;
    font-size: 18px;
}

.form input[type="submit"] {
    width: 100%;
    padding: 15px 0;
    border: none;
    background-color: var(--primary);
    color: var(--bg);
    font-size: 18px;
    text-align: center;
    border-radius: 8px;
    transition: 0.5s all;
}
.form input[type="submit"]:hover {
    background-color: var(--primary-light);
}
/* services */
.check {
    margin-bottom: 3rem;
}
/* error page */
.error--page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 1rem;
}
.error--image img {
    display: block;
    margin: 2rem auto;
    object-fit: contain;
    width: 100%;
    max-width: 50%;
}
.error--content {
    text-align: center;
    margin: 10px 0;
}
.error--content h2 {
    font-size: 4rem;
    margin: 20px 0;
}
.error--content p {
    font-size: 20px;
    margin-top: 3rem;
    line-height: 1.7;
}
/* Media queries */
@media only screen and (max-width: 992px) {
    .header {
        height: auto;
    }
    .content .heading {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        height: auto;
    }
    .content .heading {
        font-size: 1.8rem;
    }
    .header--nav .nav--links {
        display: none;
    }
    .sm-menu {
        display: block;
        margin-right: 10px;
    }
    /* contact */
    .form {
        width: 100%;
    }

    .contact--image,
    .contact--image img {
        display: none;
    }
}
@media only screen and (max-width: 576px) {
    .container {
        width: 100%;
        /* margin: 0 15px; */
        padding: 10px 20px;
    }
    .header {
        height: auto;
    }
    .content .heading {
        font-size: 1.5rem;
    }
    .header--content {
        flex-direction: column;
    }
    .content,
    .image--wrapper {
        width: 100%;
        text-align: center;
    }
    .content {
        order: 2;
    }
    .content .desc {
        text-align: center;
    }
    .header--image {
        order: 1;
    }
    .about--content h4 {
        word-wrap: break-word;
        word-break: keep-all;
    }
    .services--content h1 {
        font-size: 1.5rem;
        margin-bottom: 50px;
    }
    .services-gallery {
        grid-template-columns: 1fr;
        column-gap: 0;
    }
    .work--together {
        flex-wrap: wrap;
    }
    .work--together .image--wrapper {
        width: 100%;
    }
    .together {
        width: 100%;
        text-align: center;
    }
    .together p {
        font-size: 25px;
    }

    .footer--content .content {
        flex-direction: column;
        height: auto;
    }
    .footer--content .content .nav--links .nav--link,
    .logo--media .app--logo,
    .logo--media div {
        margin-bottom: 10px;
    }
    .footer--content .content .nav--links .nav--link {
        text-align: start;
    }
    /* about page */
    .lower--content {
        flex-direction: column;
    }
    .left--content,
    .right--content {
        width: 100%;
    }
    .header--lower a {
        width: 100%;
    }
}
